.button {
  cursor: pointer;
  color: var(--primary-color);
  padding: 6px 15px;
}

.clear {
  background: none;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

.clear-inverted {
  padding: 0;
  border: none;
  background: none;
  outline: none;
  color: var(--inverted-primary-color);
}

.outline {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  background-color: transparent;
}

.outline-red {
  border: 1px solid var(--red-light);
  color: var(--red-light);
  background-color: transparent;
}

.background {
  background-color: var(--bg-color);
  color: var(--primary-color);
  border: none;
}

.background-inverted {
  background-color: var(--inverted-bg-color);
  color: var(--inverted-primary-color);
  border: none;
}

.disabled {
  opacity: 0.5;
}

.square {
  padding: 0;
}

.square.size {
  &_m {
    width: var(--font-line-m);
    height: var(--font-line-m);
    font: var(--font-m);
  }

  &_l {
    width: var(--font-line-l);
    height: var(--font-line-l);
    font: var(--font-l);
  }

  &_xl {
    width: var(--font-line-xl);
    height: var(--font-line-xl);
    font: var(--font-xl);
  }
}

.size {
  &_m {
    font: var(--font-m);
  }

  &_l {
    font: var(--font-l);
  }

  &_xl {
    font: var(--font-xl);
  }
}
