.app-purple-theme {
  --bg-color: #8f21ff;
  --inverted-bg-color: #F7F4FB;
  --primary-color: #F7F4FB;
  --secondary-color: #c9b9d3;
  --inverted-primary-color: #8f21ff;
  --inverted-secondary-color: #e3cafa;
  --skeleton-color: #7638d2;
  --skeleton-shadow: #500f93;
  --code-bg: #720de3;
  --card-bg: #781ed3;
}
