.navbar {
  width: 100%;
  height: var(--navbar-height);
  background-color: var(--inverted-bg-color);
  display: flex;
  align-items: center;
  padding: 20px 20px 20px 0;

  &__links {
    margin-left: auto;
  }
}

.app-name {
  padding-left: 20px;
  width: var(--sidebar-width);
  flex-shrink: 0;
}