.profile-card {
  padding: 20px;
  border: 2px solid var(--inverted-bg-color);
}

.input {
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }
}

.loading, .error {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
}

.avatar-container {
  display: flex;
  justify-content: center;
}

.editing {
  border-color: var(--inverted-primary-color);
}
